.SideMenu {
    border: 15px black;
    display: flex;
    justify-content: flex-start
}

.routerDisplays {
    display: flex;
    justify-content: center;
    /* align-content: baseline; */
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}